div.first {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div.kerdesek {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        img {
            width: 225px;
            margin-bottom: -6px;
            margin-right: 10px;
            position: relative;
            z-index: 1;
        }
        .line {
            width: 250px;
            border-bottom: 4px solid var(--pale-red);
            border-radius: 2px;
        }
        p {
            text-align: left;
            font-family: "Segoe Script";
        }
    }

    div.felsorolas {
        width: fit-content;
        h2 {
            text-transform: uppercase;
        }
        span {
            color: var(--pale-red);
        }
    }
    

    h2 {
        text-transform: uppercase;
        margin-bottom: 0;
    }
}



div.ajanlas {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        text-align: justify;
    }
    span {
        font-weight: bold;
    }

    img.ceruza {
        width: 500px;
    }
}