div.first {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img.ceruza {
        width: 500px;
    }
    
    div.right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: -700px;
        img {
            width: 225px;
            margin-bottom: -10px;
            border-bottom: 3px solid var(--pale-red);
        }
        p {
            font-size: 15px;
            text-align: right;
        }
    }
}

div.ajanlas {
    p {
        text-align: justify;
    }
    span {
        font-weight: bold;
    }
}

div.felsorolas {
    h2 {
        text-transform: uppercase;
    }
    span {
        color: var(--pale-red);
    }
}
