div.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div.inside {
        display: flex;
        justify-content: center;
        align-items: center;

        img.ceruza {
            width: 500px;
        }

        div.right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-left: -700px;
            img {
                width: 225px;
                margin-bottom: -6px;
                margin-right: 10px;
                position: relative;
                z-index: 1;
            }
            .line {
                width: 250px;
                border-bottom: 4px solid var(--pale-red);
                border-radius: 2px;
            }
            p {
                text-align: right;
                font-family: "Segoe Script";
                font-size: 17px;
                letter-spacing: normal;
                margin: 8px 0;
            }
        }
    }
    h3 {
        text-transform: uppercase;
        margin-bottom: 0;
        text-align: right;
    }
}

div.ajanlas {
    p {
        text-align: justify;
        margin: 0px;
    }
    span {
        font-weight: bold;
    }
}

div.felsorolas {
    p {
        margin: 0;
    }
    h2 {
        text-transform: uppercase;
    }
    span {
        color: var(--pale-red);
    }
}
