nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.goback {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;

  display: flex;
  align-items: center;
  gap: 7.5px;

  color: var(--light-gray);
  height: 25px;
  line-height: 25px;

  transition: .4s ease-in-out;

  img {
    margin-top: -2px;
    height: 25px;
  }

  &:hover {
    color: var(--dark-gray);
    
      transform: scale(1.05);
    
  }
}

.logo {
  img {
    height: 275px;
  }
}

ul.menu {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  li {
    display: inline-block;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    &:hover, &.active {
      a {
        color: var(--pale-red);
        &::before {
          visibility: visible;
          transform: scale(1, 1);
        }
      }
    }
    a {
      color: var(--dark-gray);
      display: block;
      letter-spacing: 2px;
      padding: 0 7px 0 7px;
      margin: 0 0 10px;
      text-decoration: none;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 3px;
        bottom: -10px;
        left: 0px;
        background-color: var(--pale-red);
        transition: all 0.2s ease-in-out;
        transform: scale(0, 1);
        visibility: hidden;
      }
    }
  }
}


.submenu {display: none;}