h2 {
    text-align: center;
}

p {
    text-align: justify;
    margin-bottom: 5px;

    span {
        font-weight: bold;
    }

    &.underline {
        text-decoration: underline;
    }
}

div.list {
    span {
        display: inline-block;
        width: 25px;
        color: var(--pale-red);
    }
}
