@media screen and (max-width: 1250px) {
    .toprow {
        align-items: center !important;
    }
    .fullscreen {
        margin: 0 !important;
        padding: 2rem;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        background-image: url("../../resources/pattern2.jpg");
        background-repeat: repeat;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: .3s transform ease-in-out;

        li {
            margin: 0 !important;
            width: 100%;
            a {
                font-size: 1.1rem !important;
                margin: 0 !important;
                &::before {
                    content: none !important;
                }
            }
        }
    }
    ul.menu {
        position: fixed;
        z-index: 100;
    }
    .submenu {
        position: fixed;
        z-index: 200;
    }
    .dropdown:hover {
        margin-bottom: 0 !important;
    }
    .fullscreen.active {
        transform: translateX(0) !important;
    }

    .toggleIcon {
        display: flex !important;
    }
}

@media screen and (max-width: 1150px) {
    main {
        padding: 0 1.5rem;
    }
    nav {
        padding: 1.5rem !important;
        padding-top: 3rem !important;
    }
    main {
        width: 100% !important;
    }
    div.inside {
        justify-content: space-between !important;
    }
    header {
        width: 100% !important;
        position: relative;
    }
}

@media screen and (max-width: 900px) {
    img.ceruza {
        display: none;
    }
    div.inside {
        justify-content: center !important;
    }
    div.right {
        align-items: center !important;
        margin-left: 0 !important;
        p {
            text-align: center !important;
        }
    }
    :root {
        font-size: 18px;
    }
}

@media screen and (max-width: 760px) {
    div.vegzet {
        flex-direction: column-reverse !important;
        gap: 1rem;

        div {
            gap: 1rem;
        }
    }
}

@media screen and (max-width: 650px) {
    :root {
        font-size: 17px;
    }
    #portre {
        display: none;
    }
    #portre2 {
        display: block !important;
        margin-bottom: 1rem;
    }
    .logo img {
        height: 12rem !important;
    }
    .inside .right p {
        font-size: 0.8rem !important;
    }
}
@media screen and (max-width: 550px) {
    :root {
        font-size: 15.5px;
    }
}

@media screen and (max-width: 450px) {
    :root {
        font-size: 13.5px;
    }
}
